*{
    text-align: center;
}

body{
    height: 90vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #1e1e1e;

    padding: 2rem 2rem;
    border-radius: 1rem;
}

h1{
    font-size: 2rem;
    margin-bottom: .5rem;
}

h2{
    margin-bottom: 1.5rem;
}

input{
    text-align: left;
    
    padding: 8px 5px;
    outline: none;
    border-radius: 5px;
    background-color: #181818;
    border: 2px solid #181818;
    color: white;
    width: 100%;
    transition: .3s;
}

#inputBusca{
    border-radius: 5px 0 0 5px;
}

#inputBusca:focus{
    border: 2px solid #181818;
    
}

input:focus{
    border: 2px solid #FF8500;
}

.busca{
    display: flex;

    align-items: center;
    justify-content: center;

    margin-bottom: 1.5rem;
}

button{
    padding: .5rem 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: .5rem;
    color: #181818;
    transition: .3s;
    cursor: pointer;
}

button{
    padding: .5rem 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: .5rem;
    color: #181818;
    transition: .3s;
    cursor: pointer;
}

#buttonBusca{
    border-radius: 0 .5rem .5rem 0;
}

.modal{
    opacity: 0;
    position: fixed;
    display: none; 
}

.modal h2{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.modal input{
    margin-top: 1rem;
    width: 30rem;
}

.modal #closeCadastro{
    position: absolute;
    top: 1rem;
    right: 1rem;
    
    font-size: 1.5rem;

    cursor: pointer;
}

.modal.active{
    opacity: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 535px;
    height: 500px;

    border-radius: 1rem;

    background-color: #1e1e1e;

    top: calc(50% - 230.5px);
    left: calc(50% - 268px);
}

.modal p{
    text-align: left;
    margin-left: .5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.modal button{
    margin-top: 1rem;
}

.box-select{
    display: flex;
    align-items: center;

    margin-left: 2rem;
}

.box-select input{
    margin: 0 .5rem 0 1rem;
    width: 100%;
}

.box-select div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input.error{
    border-color: red;
}
.input.error ~ span{
    display: block;
}

.span-required{
    font-size: .75rem;
    display: none;
    margin: 3px 0 0 1px;
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}